body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


.banner {
    height: 80px;
    background: white url("images/tumblr_o7vrxl8Uk11runoqyo10_540.webp") no-repeat center;
}









footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    font-size: 12px;
    font-weight: 200;
    color: white;
}